# local db creds
DATABASE_URL= <>


# clerk auth secrets
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY= <>
CLERK_SECRET_KEY= <>


# Neo4j Credentials (free tier)
NEO4J_URI= <>
NEO4J_USERNAME= <>
NEO4J_PASSWORD= <>


# engagement service 
ENGAGEMENT_BASE_URL= <>
NEXT_PUBLIC_ENGAGEMENT_SERVICE_BASE_URL= <>
